.trip-details {
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.trip-entry-container {
  color: var(--dark-purple);
}

.trip-details-right {
  display: flex;
}

.trips-list-container {
  margin-top: 3em;
}

.detail-item {
  padding-left: 2em;
}
