.new-trip-container {
  border: none;
  justify-content: center;
  display: flex;
}

.new-trip-options {
  display: flex;
  align-self: center;
}

.new-trip-name {
  font-size: large;
}

.new-trip-item {
  padding-top: 0.5em;
}

.new-trip-button-container {
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

.new-trip-button {
  background-color: var(--dark-purple);
  color: white;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
}

.trip-input-button {
  background-color: var(--dark-purple);
  color: white;
  font-weight: 400;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  margin-left: 1em;
}
