.entry-container {
  margin-top: 1em;
  width: 100%;
}

.entry-details {
  display: flex;
  justify-content: space-between;
  font-size: large;
  padding: 0em 0.5em;
}

.entry-amounts {
  display: flex;
}

.entry-amount-item {
  padding-left: 1em;
}

.entry-options {
  padding-top: 1.5em;
  display: flex;
  justify-content: space-around;
}

.entry-divider {
  margin-top: 1em;
}

.transaction-list-container {
  width: 100%;
  height: 50vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 2em;
}
