#root {
  max-width: fit-content;
  min-width: 80vw;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  font-size: large;
  /* width: 100%; */
}

.App {
  margin-top: 2em;
}

.functionality-container {
  place-items: center;
}
